{block footer}
    <footer id="footer" class="footer">
        <p>
            Diplomová práce - Vývoj e-learningové platformy<br />
            <span>Bc. Tomáš Zábranský</span><br />
            <span>423350</span>
        </p>
    </footer>
{/block}