parameters:

application:
    catchExceptions: true
    errorPresenter: Error
    mapping:
        *: Infrastructure\View\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

database:
    default:
        dsn: 'pgsql:host=postgresql-db;port=5432;dbname=postgres'
        user: postgres
        password: diploma-thesis
    liveCode:
        dsn: 'pgsql:host=postgresql-db-live-code;port=5432;dbname=postgres'
        user: postgres
        password: diploma-thesis