/* Content Builder */
div.content-builder div.list::after {
    content: "";
    clear: both;
    display: table;
}

div.content-builder div.item {
    padding: 0 5px 0 0;
    float: left;
}

div.plugin-item,
div.content-builder div.plugin-list div.single-plugin {
    margin: 10px;
    padding: 10px;
}

div.content-builder div.plugin-list div.single-plugin div.plugin::after {
    content: "";
    clear: both;
    display: table;
}

div.content-builder div.single-plugin div.delete {
    float: right;
    width: 10%;
}

div.content-builder div.single-plugin div.plugin-edit-form {
    float: left;
    width: 80%;
}

div.plugin-life-view {
    margin: 25px;
}


