/* Article List - Single Article */
div.module-course div.library-article-list-separator {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 2px solid var(--light-gray);
    margin: 10px 0;
}

div.module-course div.library-article {
    position: relative;
    display: block;
}

div.module-course div.library-article::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.library-article div.content {
    float: left;
    width: 100%;
}

div.module-course div.library-article div.content::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.library-article div.content div.left-column {
    float: left;
    width: 80%;
}

div.module-course div.library-article div.content div.right-column {
    float: left;
    width: 20%;
}

div.module-course div.library-article div.content div.title {
    float: left;
    width: 100%;
    min-height: 20%;
    padding: 10px 0 0 10px;
}

div.module-course div.library-article div.content div.title img.solved {
    margin: 0;
    width: 50px;
    height: 30px;
    display: block;
    float: left;
}

div.module-course div.library-article div.content div.perex {
    float: left;
    width: 90%;
    min-height: 60%;
    padding: 15px 10px 20px 10px;
}

div.module-course div.library-article div.content div.perex::first-letter {
    text-transform: capitalize;
}

div.module-course div.library-article div.content div.labels {
    align-self: flex-end;
    float: left;
    width: 100%;
    padding: 5px 0 0 10px;
}

div.module-course div.library-article div.content div.edit-link {
    float: right;
    width: 100%;
    padding: 0 10px 0 0;
    display: block;
    height: 40px;
}

div.module-course div.library-article div.content div.view-link {
    float: right;
    width: 100%;
    padding: 5px 10px 0 0;
    display: block;
    height: 40px;
}

div.module-course div.library-article div.content div.author {
    display: block;
    width: 100%;
    padding: 0 15px 10px 0;
    margin: 0;
}

div.module-course div.comments div.library-article div.information div.author div.container,
div.module-course div.article div.intro div.right-column div.author div.container {
    margin: 15px 0 10px 10px;
}

div.module-course div.article div.intro div.right-column div.author div.container::after,
div.module-course div.library-article div.information div.author div.container::after,
div.module-course div.library-article div.content div.author div.container::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.article div.intro div.right-column div.author div.container img,
div.module-course div.library-article div.information div.author div.container img,
div.module-course div.library-article div.content div.author div.container img {
    float: left;
    display: block;
    max-width: 25%;
}

div.module-course div.article div.intro div.right-column div.author div.container span,
div.module-course div.library-article div.information div.author div.container span,
div.module-course div.library-article div.content div.author div.container span {
    float: right;
    width: 75%;
    text-align: left;
    color: var(--secondary)
}

div.module-course div.article div.intro div.right-column div.author div.container span.author-name,
div.module-course div.library-article div.information div.author div.container span.author-name,
div.module-course div.library-article div.content div.author div.container span.author-name {
    font-weight: bold;
}

/* Single Article view */
div.module-course div.library div.intro,
div.module-course div.article div.intro {
    display: block;
}

div.module-course div.library div.intro::after,
div.module-course div.article div.intro::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.library div.intro div.left-column,
div.module-course div.article div.intro div.left-column {
    float: left;
    width: 60%;
}

div.module-course div.article div.intro div.left-column > div {
    padding: 0 0 0 25px;
}

div.module-course div.article div.intro div.left-column div div.labels {
    display: block;
    width: 100%;
}

div.module-course div.article div.intro div.left-column div div.image {
    display: block;
    width: 100%;
}

div.module-course div.library div.intro div.right-column {
    float: right;
    width: 15%;
}

div.module-course div.library div.intro div.right-column .add-article {
    margin: 25px 10px 0 0;
}

div.module-course div.article div.intro div.right-column {
    float: right;
    width: 38%;
    margin: 25px 0 0 0;
}

div.module-course div.article div.intro div.right-column,
div.module-course div.comments div.library-article div.information div.author {
    border: 2px solid var(--dark-gray);
    background-color: var(--light-gray-bg);
    color: var(--secondary);
}

div.module-course div.article div.intro div.right-column::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.article div.intro div.right-column div.discussion {
    float: left;
    width: 50%;
}

div.module-course div.article div.intro div.right-column div.discussion table {
    float: left;
    display: block;
    margin: 5px;
    font-size: 11pt;
}

div.module-course div.article div.intro div.right-column div.discussion table tr {
    margin: 10px 0 0 10px;
}

div.module-course div.article div.intro div.right-column div.author {
    float: right;
    width: 50%;
}


/* Chapter overview */
div.module-course div.article div.content div.chapter {
    display: block;
    width: 100%;
}

div.module-course div.article div.content div.chapter::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.article div.content div.chapter div.title {
    float: left;
    width: 20%;
    text-align: left;
    padding: 10px 0 0 0;
}

div.module-course div.article div.content div.chapter div.annotation {
    float: right;
    width: 80%;
    text-align: left;
    padding: 10px 0 0 0;
}

div.module-course div.article div.buttons {
    width: 100%;
    margin: 20px 0 0 0;
    display: block;
}

div.module-course div.article div.buttons::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.article div.buttons div.left-column {
    float: left;
    width: 20%;
    display: block;
}

div.module-course div.article div.buttons div.right-column {
    float: right;
    width: 20%;
    display: block;
}

/* Edit course */
div.module-course div.article div.content {
    width: 100%;
    display: block;
}

div.module-course div.article div.content::after {
    display: table;
    clear: both;
    content: "";
}

div.module-course div.article div.content div.left-column {
    display: block;
    width: 20%;
    float: left;
}

div.module-course div.article div.content div.left-column div.course-structure {
    display: block;
    margin: 25px 0 0 5px;
}

div.module-course div.article div.content div.left-column div.course-structure div.add-chapter,
div.module-course div.article div.content div.left-column div.course-structure div.course-chapter {
    display: block;
    margin: 10px 0 0 0;
}

div.module-course div.article div.content div.left-column div.course-structure div.course-chapter div.add-page,
div.module-course div.article div.content div.left-column div.course-structure div.course-chapter div.course-page {
    display: block;
    padding: 5px 0 0 20px;
}

div.module-course div.article div.content div.right-column {
    display: block;
    width: 80%;
    float: right;
}

div.module-course div.article div.content div.left-column div.course-structure a,
div.module-course div.article div.content div.left-column div.course-structure a:visited {
    color: var(--secondary); /* #0000EE; */
}

div.module-course div.article div.content div.left-column div.course-structure a:hover {
    color: var(--primary);
}


